* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover {
    cursor: pointer;
}


.container-icon {
    position: relative;
}

.count-products {
    position: absolute;
    top: -35%;

    left: 54%;
    right: 0;
    background-color: #020202;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.bi {
    font-size: 2rem;
}

.carritoTrash {
    font-size: 1rem;
}

.simCarrito {
    color: black;
}


#contador-productos {
    font-size: 12px;
}

.container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;

}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart {
    display: none;
}


header {
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fc2626;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2.25rem;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        transition: 0.5s ease;
        opacity: 0%;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        left: -200px;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        row-gap: 6rem;
        align-items: center;
    }

    .nav.visible {

        display: flex;
        justify-content: flex-start;
        position: fixed;
        opacity: 100%;
        left: 0px;
        width: 50%;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
        row-gap: 4rem;
        display: flex;
        align-items: center;
    }

    .nav-list li a {
        color: #ecececec;
        font-size: 1.3rem;
    }
}



/* Menu principal */

.main-container {
    padding: 1rem;
    background: #ebebeb;
}

.container-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    padding: 3rem;


}


.item {
    border-radius: 10px;
    box-shadow: 3px 3px 7px #5c95db;
    height: 350px;
    display: grid;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure {
    overflow: hidden;


}

.item:hover img {
    transform: scale(1.2);
}

.info-product {
    background: #ffffffc9;
    padding: 5px 9px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

}

.price {
    font-size: 1.6rem;
    font-weight: 600;
}

.btn-add-cart {

    border: none;
    background: none;
    background-color: #5c95db;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    opacity: 100%;
    cursor: no-drop;
    transition: 0.3s ease;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .main-container {
        padding: 0;
    }

    .container-items {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 0.5rem;
    }

    .info-product {
        gap: 5px;
    }


    .item {
        display: flex;
        flex-direction: column;

    }



}

@media screen and (max-width: 500px) {
    .container-cart-products {
        width: 300px;

    }

    h2 {
        font-size: 1rem;
    }

    .item figure {
        padding: 0;
    }

    .price {
        font-size: 1.2rem;

    }

}

@media screen and (max-width: 350px) {

    /* responsive CARRITO */
    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0.5rem;
    }

    .h3-carrito {
        font-size: 1rem;
        text-align: center;
    }

    .container-cart-products {
        width: 200px;

    }
}

.increment-decrement {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    background: #d6d6d6;
    border-radius: 19px;
    margin-bottom: 1rem;


}



.menos,
.mas {

    width: 50px;
    cursor: pointer
}

.buttonEnable {
    opacity: 100%;
    cursor: pointer;
    background-color: #3fb849
}

.ceroOpacity {
    opacity: 0%;
}

/* =================================================================================== */

/* CARRITO */

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    min-height: 100vh;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.carrito-producto {
    display: grid;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: var(--clr-main);
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    height: 100px;

}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
    font-size: 1rem;
    color: #dc5959;
}

.carrito-producto-cantidad,
.carrito-producto-precio,
.carrito-producto-titulo {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.h3-carrito {
    text-align: center;

}

.sumatoria-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    height: 100px;

}

.sumatoria-carrito p {
    font-weight: 600;
    font-size: 1.2rem;
}

.menos2,
.mas2 {
    width: 50px;
    cursor: pointer
}


.continuar-compra {
    display: flex;
    justify-content: center;
}

.confirmar-carrito {
    background: #080707;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 250px;
    border-radius: 15px;
    height: 45px;

}





/* estilos footer */

footer {
    height: 75px;
    background:#232323;;

}

/* estilos "VOLVER A INICIO" */

.contenedor-volver-inicio {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5rem;
    background: white;
}

.cont-titulo-volver {
    height: 200px;
    display: flex;
    align-items: center;

}


.VolverAInicio {

    background: #080707;
    font-size: 1rem;
    font-weight: 600;
    width: 250px;
    border-radius: 15px;
    height: 45px;
}

.VolverAInicio a {
    color: white;
    text-decoration: none;
}

/* ---FORMULARIO CLIENTE--- */



.formulario-cliente {
    min-height: 85vh;
    width: 80%;
}

.formulario-cliente form {
    height: 100%;
    display: flex;
    padding: 1rem;
    background: #ebebeb;
    flex-direction: column;
    justify-content: space-between;
}

.formulario-cliente label {
    display: block;
}

form ul li{
    
 
   
}

.contenedor-datos-cliente {
    display: flex;
    padding: 3rem;
    background: white;
    justify-content: center;
    gap: 3rem;
}

.controls,
.controls-direccion {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
    border: solid 0.5px;

}

.contenedor-nombres p{
width: 50%;
}

.contenedor-nombres,
.contenedor-direccion {
    display: flex;
    gap: 1.5rem;
}

.contenedor-direccion{
    display: flex;
    flex-direction: column;
}

.p-direccion {
    width: 75%;
}

.p-numeracion {
    width: 25%;
}

.btn-calcular-envio{
    background: #3246ff;
    font-size: 1rem;
    font-weight: 600;
    width: 8rem;
    border-radius: 15px;
    height: 45px;
    margin: 0 auto;
    color: white;
}

.btn-realizar-pedido {
    background: #080707;
    font-size: 1rem;
    font-weight: 600;
    width: 250px;
    border-radius: 15px;
    height: 45px;
    margin: 0 auto;
    color: white;
}



.datos-distino {
    display: flex;
    gap: 2rem;
    
}

.localidad-pais label{
padding: 1rem 0;
}

.input-radio{
    height: 100%;
    width: 1rem;
    margin: 0 1rem;
    
}

.input-radio:checked+label {
    background-color: #3246ff;
    color: #ffffff;
    height: 3rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ---TOTAL A PAGAR MAS ENVIO--- */

table {
    background: #cccccc;
    padding: 3rem;
    width: 100%;
    height: 100%;

}


.agregar-Envio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    min-height: 80vh;
    padding: 1rem 4rem;
}

.eleccion{
    display: flex;
    padding: 0rem 0;
    justify-content: flex-start;
    flex-direction: column;
}

.eleccion ul {
    display: flex;
    height: 50%;
    flex-direction: column;
    background: #fbfbfb;
    justify-content: space-around;
}

.eleccion label{
    width: 100%;
  
    font-size: 1.2rem;
}

.eleccion h1 {
    margin-bottom: 1rem;
}

td {
    text-align: right;
    padding: 1rem;
}

.table-product-total {
    text-align: right;
}

table ul li {
    list-style: none
}

table th{
    text-align: left;
}


.woocommerce-shipping-methods {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.woocommerce-shipping-methods li {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}


.woocommerce-shipping-methods li p {
    margin-right: 2rem;
    font-size: 1.2rem;
    color: green;
}

.btn-continuar{
    margin-top: 2rem;
    border: none;
    background: none;
    background-color: #5c95db;
    color: #fff;
    font-size: 1.2rem;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 15px;
    opacity: 100%;
    cursor: no-drop;
    transition: 0.3s ease;
}