<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<link rel="stylesheet" href="/style.css">
	
	<title>{{title}}</title>
</head>


<body>
		<header>
			<button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
			<nav class="nav" id="nav">
				<button class="cerrar-menu" id="cerrar"><i class="bi bi-x simCerrar"></i></button>
				<ul class="nav-list">
					<li><a href="/inicio">Inicio</a></li>
					<li><a href="/carrito">Carrito</a></li>
					<li><a href="#">Servicios</a></li>
					<li><a href="#">Qué hacemos</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</nav>

			<div class="container-icon">
				<div class="container-cart-icon">
					<a href="/carrito"><i class="bi bi-cart4 simCarrito"></i></a>
					<div class="count-products">
						<span id="contador-productos">{{suma}}</span>
					</div>
				</div>


				
			</div>
		</header>

	
		<main class="main-container">
			
			{{{body}}}
		</main>


		<footer>
			
		</footer>




	<!--aca se ejecutan los scripts -->

	<script src="/logica.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>